@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Color Palettes */

/*Primary's colors:*/
:root {
  --main-color: #fe4f00;
  --color2: #050640;
  --color3: #0b0c4d;
  --color4: #0c0e91;
  --color5: #fcf8fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  font-family: 'Fredoka One', cursive;
  background: linear-gradient(
    90deg,
    rgba(12, 14, 145, 1) 9%,
    rgba(252, 248, 250, 1) 100%
  );
}

.mainContainer {
  margin: 10rem auto;
  background-color: var(--main-color);
  max-width: 75rem;
  height: 50rem;
  border-radius: 3rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* LAYOUT */
header {
  color: var(--color4);
}

/* ELEMENTS STYLE */
h1 {
  position: absolute;
  top: 1rem;
  font-size: 4rem;
  text-align: center;
  width: 100%;
}

.subTitle {
  position: absolute;
  top: 6rem;
  right: 20rem;
  font-size: 1.8rem;
  color: var(--color2);
}

.number {
  position: absolute;
  top: 13rem;
  right: 45rem;
  border-radius: 2rem;
  background: #eee;
  color: var(--color2);
  font-size: 6rem;
  width: 26rem;
  height: 27rem;
  padding: 9rem;
  text-align: center;
}

.between {
  position: absolute;
  top: 13rem;
  right: 2rem;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.guess {
  position: absolute;
  top: 16rem;
  right: 8rem;
  background: none;
  border: 2px solid var(--color5);
  border-radius: 2rem;
  font-family: inherit;
  color: var(--color2);
  font-size: 3.2rem;
  padding: 2.5rem;
  width: 25rem;
  height: 12rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

input::placeholder {
  color: var(--color2);
  font-size: 1.2ren;
}

.btn {
  border: none;
  border-radius: 30rem;
  background-color: var(--color5);
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1.8rem 2.4rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(54, 54, 248);
}

.check {
  position: absolute;
  top: 34rem;
  right: 26rem;
  font-size: 1.8rem;
  color: green;
}

.again {
  position: absolute;
  top: 34rem;
  right: 5rem;
  font-size: 1.8rem;

  color: red;
}

.message {
  position: absolute;
  top: 30rem;
  right: 7rem;
  font-size: 2rem;
}

.label-score {
  position: absolute;
  top: 41rem;
  right: 5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.label-highscore {
  position: absolute;
  top: 44rem;
  right: 5rem;
  font-size: 2rem;
}
